:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  color: #434455;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-navigation {
}

button {
  cursor: pointer;
}

.header-logo {
  font-family: var(--second-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo-colorine {
  color: #4d5ae5;
}

.header-menu-list {
}

.header-menu-item {
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
}

.header-contacts-item {
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn-blue {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: white;
}

.header-contacts-link:focus,
.header-contacts-link:hover {
  color: #404bbf;
}

.hero-btn-blue:hover,
.hero-btn-blue:focus {
  background-color: #404bbf;
}

.features {
}

.features-list {
}

.features-item {
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-cards {
  background: var(--cloud);
}

.team-cards-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-cards-list {
}

.team-cards-item {
  background-color: white;
}

.team-cards-img {
}

.team-cards-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-cards-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-img {
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background: var(--navy-blue);
}

.footer-menu {
}

.footer-title {
  font-family: var(--second-family);
  color: var(--cloud);
}
.footer-colored-title {
  color: var(--iris);
}
.footer-subtitle {
  color: var(--cloud);
  /* color: #f4f4fd; */
   width: 264px;
  /* height: 72px; */
  margin: 16px 0 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: left;
}
