:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

/* p, a - 400, h1 - 700 */
/* pseudoclass it is why because in html it is not exist but in css is. */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
}

button {
  cursor: pointer;
}

.header-navigation {
}

.header-logo {
  font-family: var(--second-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(0, 0, 128);
  /* with preprocessors old mode style*/
  .colorine {
    color: #4d5ae5;
  }
}

/* without preprocessors */
/* .header-logo-colorine {
  color: #4d5ae5;
} */

.header-menu-list {
}

.header-menu-item {
}

.header-contacts {
}

.header-contacts-list {
}

.header-contacts-item {
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .header-contacts-link:hover, .header-contacts-link:focus {
    color: #31d0aa;
} */

.header-contacts-link:is(:hover, :focus) {
  color: #31d0aa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title-basic {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-description-basic {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-subtitle-basic {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgb(0, 0, 128);
}

.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  color: #fff;
}
.hero-btn-blue {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: rgb(0, 0, 255);
  color: white;
  cursor: pointer;
}

.features {
}

.features-list {
}

.features-item {
}

.features-subtitle {
}
.feature-description {
}

.team-cards {
  background: var(--cloud);
}
.team-cards-title {
  font-size: 36px;
  line-height: 111%;
  color: rgb(0, 0, 128);
}

.team-cards-list {
}
.team-cards-item {
}
.team-cards-img {
}
.team-cards-subtitle {
}

.team-cards-description {
}
.portfolio {
}

.portfolio-title {
  font-size: 36px;
  line-height: 111%;
  color: rgb(0, 0, 128);
}

.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
}
.portfolio-description {
}

.footer-menu {
  background: var(--navy-blue);
}
.footer {
}
.footer-menu {
}
.footer-title {
  color: var(--cloud);
}
.footer-colored-title {
  color: var(--iris);
}
.footer-subtitle {
  color: var(--cloud);
}
