/*reset base margins*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

logo-accent {
    color: #2196f3;
}

.nav_section {
        display: flex; /* puts items in one line */
        /* justify-items: center; centers them horizantically */
        justify-content: space-between; /*        spreads them across the whole line.  */
        padding: 20px 25px;
        /* border-bottom: 1px solid #ececec; */
        background: #f8f8f8;
        align-items: center;
        /* align-content: center; */
        /* text-decoration: none; */
        /* text-decoration-line: none; */
        margin-left: 25px;
        /* list-style: none; */


}

.nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* text-decoration-line: none; */
    display: flex;
    justify-content: center;
    /* gap: 25px; */
    /* flex-direction: row; */
    text-decoration: none;
    /* color: #212121; */
    /* font-weight: 500; */

}

.nav-list a:hover,
.nav-list a:focus,
.address_section a:hover,
.address_section a:focus
{
  color: #2196f3;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #212121;
    background-color: #fff;
    margin: 0;
}

.hero {
    text-align: center;
    color: white;
    background-image: url(../images/Dark-bg.jpg);
    padding: 80px 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.button {
    /* font-size: 5px; */
    background: #2196f3;
    border: none;
    border-color: navy;
    border-radius: 10px;    
    color: white;
    padding: 5px 25px;
    /* gap: 10px; */
    cursor: pointer;
    /* text-align: center; */
        /* justify-content: flex-end; */
    /* position: absolute; */
    /* display: inline-block; */
    /* flex-direction: row; */

}

.hero .button:hover {
    border-color: darkslateblue;
    border-radius: 0px;    
    text-align: center;
    text-decoration: none;
}

.hero .button:focus,
.hero .button.button:hover {
    border-color: #483D8B;
    border-radius: 0px;    
    text-decoration: none;
}

.features {
    background: #f6f6fb;
    padding: 41px 0;
    text-align: center;
}

.features ul {
    list-style: none;
    gap: 20px;
    margin: 41px 0;;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-size: 14px;
}

.team {
    background: #f6f6fb;
    padding: 41px 0;
    text-align: center;

}

.team ul {
    list-style: none;
    display: grid;
    gap: 25px;
    margin: 41px 0;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 0px;
}

.team ul li {
    
    width: 200px;
}

.portfolio h2 {
    text-align: center;
}

.portfolio ul {
    list-style: none;
    background-color: #E7E9FC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0;

}

.portfolio ul li {
    border: 1px solid #eee;
    background: #fff;
    padding: 16px;
}

.portfolio ul li h3 {
    font-size: 16px;
    font-weight: 700px;
    margin: 20px 16px 0 14px;
}

.portfolio p {
    font-size: 14px;
    color: #757575;
    margin: 20px 16px 0 14px;

}

.portfolio img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: #2f2f6e;
    color: white;
    /* text-align: center; */
    padding: 20px;
    justify-content: center;
}
